frontend/node_modules/
frontend/dist/
frontend/.env

backend/.venv/
backend/__pycache__/
backend/.pytest_cache/
backend/.env
backend/.env.docker
backend/app/ml_artifacts/

scripts/docs/

.env
*.pyc
**/__pycache__/

backend/ml_artifacts/
app/ml_artifacts/
*.pkl
*.keras
*.h5
*.npz